body {
    background-color: black;
}
.link {
    text-decoration: none;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;

}
.link:hover {
    color: yellow;
    transition: color .3s ease-in;

}
.status-err {
    margin-top: 150px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: white;
}
.header {
    color:rgb(255, 255, 255)
}
.status-err:hover{
    color: red;
}