* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

.link {
    text-decoration: none;
    text-align: center;
    color: #000;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 25px;
}

.content {
    width: 240px;
    overflow: hidden;
}


/*Artist*/
.container-artist {
    flex-direction: column;
}

.wrapper-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* gap: 25px; */
}

.mini-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.key-tour {
    font-weight: 700;
    text-transform: uppercase;
}

.link-back {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.link-back svg {
    margin-right: 10px;
    
}

.link-back:hover {
    color: yellow;
    transition: color .3s ease-in;
}
.link-back:hover svg {
    fill: yellow;
    transition: fill 1s ease;
}

.link-back:hover svg {
    transform: translateX(-10px);
    transition: transform .3s ease-in;
}

.header-artist {
    margin: 0;
}