:root {
    --palaroid-bg-color: #fff;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.link {
    text-decoration: none;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;

}

.link2 {
    color: #000;
    text-decoration: none;
    text-align: center;
    font-family: 'Courier New';
    font-style: italic;
    font-size: large;
}

.link:hover {
    color: yellow;
    transition: color .3s ease-in;

}

body {
    background-color: #000;

}




.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 25px;
}

.polaroid__card {
    display: block;
    position: relative;

    background: var(--palaroid-bg-color);
    width: 240px;
    min-height: 282px;
    max-height: 282px;

    text-decoration: none;
    color: #000;
}

.polaroid__img__block {
    padding: 10px 10px 0 10px;
    margin: 0;
    overflow: hidden;
    padding-bottom: -4px;
}


.polaroid__img {
    display: block;
    min-height: 220px;
    min-width: 220px;
    max-height: 220px;
    max-width: 220px;

    transition: 0.2s;
    padding: 0px;
    margin: 0;
}

.polaroid__card:hover .polaroid__img {
    transform: scale(1.08);
}

.polaroid__caption__block {
    position: absolute;
    bottom: 0;
    left: 0;


    padding: 14px 10px;
    width: 100%;
    background-color: #fff;
    text-align: center;
    font-size: 20px;
}

.polaroid__caption {
    font-style: italic;
    margin: 0;
}